head
    title= "ConUHacks Marketplace | Sponsored by AppDirect"
    script(src='/libs/jquery.min.js')
    script(src='/libs/uif.js')
    link(rel='stylesheet', href='/stylesheets/uif.css')
    link(rel='stylesheet', href='/stylesheets/conuhacks.css')
    block extraHeader
