extends layout

block content
  div.adb-page
    header.adb-page.header
      nav.adb-primary_nav
        ul.adb-primary_nav--items.adb-layout-default
          li.adb-primary_nav--item.adb-primary__logo
            a.adb-primary_nav--link(href='http://base.appdirect.com/')
              spam.adb-primary_nav--logo Conuhacks Marketplace
          li.adb-primary_nav--item
            a.adb-primary_nav--link(href='/listing') Listing
    div.adb-page_content
      div.adb-layout-default
        div.adb-layout-row
          div.adb-layout-row
            h1 Listing


