doctype html
html(lang="en")
  include head
  body
    div.adb-page
      div.conuhacks-page
        header.adb-page.header
          center
            a.adb-primary__logo(href='/')
              img.biglogo(src='/images/logo.png')
              h3 ConUHacks Marketplace
        div.adb-page_content
          block content

        div.adb-page_footer
          a.adb-button.adb-button__xlarge.adb-button__emphasis(href='/register') Register your team!
