.conuhacks-page {
	/* padding: 2em; */
}
.biglogo {
	margin-top: 4em;
	width: 50%;
}

.header {
	background-color: #333;
	height: 250px;
	margin: 0;
}


/* big ass squares on listing */

.adb-id__sq_xlarge {
	width: 300px;
	font-size: 300px;
}

.adb-id__logo:before {
	border: none 0;
	border-radius: 0;
	background: none !important;
}
.adb-tile, .adb-id__logo {
	background: none !important;
	box-shadow: none;
}

.secret {
	font-family: monospace;
	font-size: 100%;
	text-align: center;
}